.App {
  text-align: center;
}
li {
  list-style: none;
  display: flex;
  justify-content: space-between;
}
li p {
  margin: 0;
  flex: 1;
  text-align: left;
}
.CreateTodoButton {
  font-size:24px;
  width: 50px;
  height: 50px;
  border-radius:50px;
  border: none;
  background-color: #97ca3f;
  color: white;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.3s ease;
}
.CreateTodoButton:hover {
  background-color: #7da931;
}




@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #233553;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #97ca3f;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
